[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
drf-spectacular = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg = "*"
python-decouple = "*"
django-cors-headers = "*"
requests = "*"
openai = "*"
nillion-sv-wrappers-py = {editable = true, ref = "main", git = "https://github.com/onchain-angels/nillion-sv-wrappers-py.git"}
farcaster = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
